@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
/* fonts */

@import url(reset.css);
/* user-agent style reset */

@import url(variable.css);

@import url(component/status-bar.css);
@import url(component/header.css);
@import url(component/pause.css);
@import url(component/user-component.css);
@import url(component/nav-bar.css);
@import url(component/badge.css);
@import url(component/border.css);
@import url(component/my-component.css);
/* component */

@import url(screen/index-screen.css);
@import url(screen/search.css);
@import url(screen/my.css);
/* screen */

body {
  color: #fdfdfd;
  font-family: 'PT Sans', sans-serif;
  background-color: #121212;
}

.main-screen {
  padding: 0 30px;
  height: 100vh;
}
